<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product Name</key>
	<string>Cнеговик</string>
	<key>Greetings</key>
	<string>Рады приветствовать!</string>
	<key>Location Usage Description</key>
	<string>Гео сведения (широта и долгота) обязательны для получения метео данных.</string>
	<key>Copyright</key>
	<string>Охраняется авторским правом © 2023 - 2024 Михаил A. Жигулин из Новосибирска.</string>
	<key>Default: N/A</key>
	<string>нет</string>
	<key>/* Popover Screen */</key>
	<string>--</string>
	<key>Button: Call Weather</key>
	<string>Запроси Погоду</string>
	<key>Button: Call Forecast</key>
	<string>Запроси Прогноз</string>
	<key>Label: Made with Love</key>
	<string>C любовью из Новосибирска.</string>
	<key>Tab: Current Weather</key>
	<string>Наблюдение</string>
	<key>Tab: Forecast</key>
	<string>Прогноз</string>
	<key>Button: Quit</key>
	<string>Выйди</string>
	<key>Button: About</key>
	<string>Себяшка</string>
	<key>Button: Options</key>
	<string>Настройки</string>
	<key>Button: Hide</key>
	<string>Скройся</string>
	<key>/* Location View */</key>
	<string>--</string>
	<key>Label: Permission</key>
	<string>Гео Доступ</string>
	<key>GeoAccess: .notDetermined</key>
	<string>Не определен</string>
	<key>GeoAccess: .deniedForAllAndRestricted</key>
	<string>Заблокирован для всех и ограничен</string>
	<key>GeoAccess: .restricted</key>
	<string>Ограничен</string>
	<key>GeoAccess: .deniedForAllApps</key>
	<string>Заблокирован для всех</string>
	<key>GeoAccess: .deniedForTheApp</key>
	<string>Заблокирован</string>
	<key>GeoAccess: .allowed</key>
	<string>Предоставлен</string>
	<key>Geo Couple</key>
	<string>Широта, Долгота</string>
	<key>Button: Allow Geo...</key>
	<string>Спроси Разрешение</string>
	<key>Button: Go to Settings...</key>
	<string>Системные Настройки</string>
	<key>Button: Refresh Current Location</key>
	<string>Обнови Геолокацию</string>
	<key>/* Current Weather View */</key>
	<string>--</string>
	<key>Label: Meteo Data Provider</key>
	<string>Метео сведения от</string>
	<key>Label: About Current Weather</key>
	<string>О погоде сейчас...</string>
	<key>Prefix: Curren Weather in Brief</key>
	<string>Коротко</string>
	<key>Prefix: Feels Like</key>
	<string>Наверное</string>
	<key>Prefix: Min</key>
	<string>Мин</string>
	<key>Prefix: Max</key>
	<string>Макс</string>
	<key>Prefix: Humidity</key>
	<string>Влага</string>
	<key>Prefix: Visibility</key>
	<string>Обзор</string>
	<key>Unit: Meter</key>
	<string>м</string>
	<key>Unit: Kilometre</key>
	<string>км</string>
	<key>Unit: Mile</key>
	<string>ми</string>
	<key>Unit: Foot</key>
	<string>фт</string>
	<key>Label: Speed</key>
	<string>Ветер</string>
	<key>Label: Direction</key>
	<string>Направление</string>
	<key>Label: Gust</key>
	<string>Порывы</string>
	<key>Unit: m/s</key>
	<string>м/с</string>
	<key>Unit: km/h</key>
	<string>км/ч</string>
	<key>Unit: mph</key>
	<string>мили/ч</string>
	<key>Label: Pressure</key>
	<string>Давление</string>
	<key>Unit: hPa</key>
	<string>гПа</string>
	<key>Unit: mmHg</key>
	<string>мм.рт.ст.</string>
	<key>Unit: mb</key>
	<string>мбар</string>
	<key>Label: Sunrise</key>
	<string>ВОСХОД</string>
	<key>Label: Sunset</key>
	<string>ЗАХОД</string>
	<key>/* Time */</key>
	<string>--</string>
	<key>AM</key>
	<string>ДП</string>
	<key>PM</key>
	<string>ПП</string>
	<key>Postfix: Year</key>
	<string> г.</string>
	<key>Prefix: Last One</key>
	<string>Расчет от</string>
	<key>/* Forecast View */</key>
	<string>--</string>
	<key>Label: Conditions</key>
	<string>Условия</string>
	<key>Label: Weekday short</key>
	<string>День</string>
	<key>Label: Forecast Date</key>
	<string>Дата</string>
	<key>/* Options Screen */</key>
	<string>--</string>
	<key>Title: Options Screen</key>
	<string>Изделие</string>
	<key>Section: App Options</key>
	<string>Настройки Изделия</string>
	<key>Option: Dark Mode</key>
	<string>Сторона Луны</string>
	<key>Option: Language</key>
	<string>Язык</string>
	<key>Option: OpenWeather Key</key>
	<string>Ключ OpenWeather</string>
	<key>Option: Time Format</key>
	<string>Формат Времени</string>
	<key>Section: Meteo Options</key>
	<string>Метео Просмотр</string>
	<key>Option: Temperature</key>
	<string>Температура</string>
	<key>Option: Wind Speed</key>
	<string>Скорость Ветра</string>
	<key>Option: Pressure</key>
	<string>Барометр</string>
	<key>Option: Distance</key>
	<string>Дальность Обзора</string>
	<key>OpenWeather: Lock</key>
	<string>Скрыть</string>
	<key>OpenWeather: Unlock</key>
	<string>Открыть</string>
	<key>OpenWeather: Hidden</key>
	<string>Скрытая замочная скважина...</string>
	<key>OpenWeather: Editable</key>
	<string>Нужен токен (ключ)</string>
	<key>Unit: Light</key>
	<string>Cветлая</string>
	<key>Unit: Dark</key>
	<string>Темная</string>
	<key>Unit: System</key>
	<string>Среда</string>
	<key>Unit: English</key>
	<string>Английский</string>
	<key>Unit: Russian</key>
	<string>Русский</string>
	<key>Unit: 24-hour</key>
	<string>24-часовой</string>
	<key>Unit: 12-hour</key>
	<string>12-часовой</string>
	<key>Unit: Kelvin</key>
	<string>Кельвин</string>
	<key>Unit: Celsius</key>
	<string>Цельсий</string>
	<key>Unit: Fahrenheit</key>
	<string>Фаренгейт</string>
	<key>Unit: m/s long</key>
	<string>метр/сек</string>
	<key>Unit: km/h long</key>
	<string>км/час</string>
	<key>Unit: mph long</key>
	<string>мили в час</string>
	<key>Unit: Kilometre long</key>
	<string>Километры</string>
	<key>Unit: Mile long</key>
	<string>Мили</string>
	<key>Button: Close</key>
	<string>Исчезни</string>
	<key>/* Compass Directions */</key>
	<string>--</string>
	<key>Compass: N</key>
	<string>С</string>
	<key>Compass: NNE</key>
	<string>С/СВ</string>
	<key>Compass: NE</key>
	<string>СВ</string>
	<key>Compass: ENE</key>
	<string>В/СВ</string>
	<key>Compass: E</key>
	<string>В</string>
	<key>Compass: ESE</key>
	<string>В/ЮВ</string>
	<key>Compass: SE</key>
	<string>ЮВ</string>
	<key>Compass: SSE</key>
	<string>Ю/ЮВ</string>
	<key>Compass: S</key>
	<string>Ю</string>
	<key>Compass: SSW</key>
	<string>Ю/ЮЗ</string>
	<key>Compass: SW</key>
	<string>ЮЗ</string>
	<key>Compass: WSW</key>
	<string>З/ЮЗ</string>
	<key>Compass: W</key>
	<string>З</string>
	<key>Compass: WNW</key>
	<string>З/СЗ</string>
	<key>Compass: NW</key>
	<string>СЗ</string>
	<key>Compass: NNW</key>
	<string>С/СЗ</string>
	<key>/* Months&apos; Names */</key>
	<string>--</string>
	<key>Month: December</key>
	<string>дек.</string>
	<key>Month: January</key>
	<string>янв.</string>
	<key>Month: February</key>
	<string>фев.</string>
	<key>Month: March</key>
	<string>мар.</string>
	<key>Month: April</key>
	<string>апр.</string>
	<key>Month: May</key>
	<string>май</string>
	<key>Month: June</key>
	<string>июн.</string>
	<key>Month: Jule</key>
	<string>июл.</string>
	<key>Month: August</key>
	<string>авг.</string>
	<key>Month: September</key>
	<string>сен.</string>
	<key>Month: October</key>
	<string>окт.</string>
	<key>Month: November</key>
	<string>нояб.</string>
    <key>/* Days&apos; Names */</key>
    <string>--</string>
    <key>Day: Sun</key>
    <string>Вс</string>
    <key>Day: Mon</key>
    <string>Пн</string>
    <key>Day: Tue</key>
    <string>Вт</string>
    <key>Day: Wed</key>
    <string>Ср</string>
    <key>Day: Thu</key>
    <string>Чт</string>
    <key>Day: Fri</key>
    <string>Пт</string>
    <key>Day: Sat</key>
    <string>Сб</string>
	<key>/* About Screen */</key>
	<string>--</string>
	<key>Button: The App Source Code</key>
	<string>Исходники Изделия</string>
	<key>Button: The Technological Tree</key>
	<string>Лукоморья Дуб Зелёный</string>
	<key>Label: The App Version</key>
	<string>Выпуск</string>
	<key>Label: Star Copyright Notice</key>
	<string>Охраняется авторским правом © 7531 - 7532 Михаил A. Жигулин из Новосибирска.</string>
	<key>Label: Copyright Details</key>
	<string>Летоисчесление ведется от Сотворения Мира в Звездном Храме в соответствии со славянским календарем в котором первый месяц сентябрь.</string>
	<key>Label: Credits</key>
	<string>Работы выполнены</string>
	<key>Label: Balancing and Control</key>
	<string>Контроль и Балансировка</string>
	<key>Label: Writing</key>
	<string>Кодирование</string>
	<key>Label: Documenting</key>
	<string>Документирование</string>
	<key>Label: Artworking</key>
	<string>Изобразительное Искусство</string>
	<key>Label: EN Expectation</key>
	<string>Английский</string>
	<key>Label: RU Expectation</key>
	<string>Русский</string>
	<key>Label: Author</key>
	<string>Михаил А. Жигулин</string>
	<key>Button: License</key>
	<string>Текст лицензии</string>
	<key>Button: Terms &amp; Conditions</key>
	<string>Соглашение</string>
</dict>
</plist>
